name: Release
on:
  release:
    types:
      - created
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    timeout-minutes: 4
    steps:
      - uses: actions/checkout@v3
      - uses: denoland/setup-deno@61fe2df320078202e33d7d5ad347e7dcfa0e8f31 # v1.1.0
        with:
          deno-version: v1.33.3
      - run: deno task npm
      - run: npm publish target/npm
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
